<div id="wrapper" style="display: none;" class="yorum admin">
    <div class="well1" >
        <br>
        <div class="row">
            <div class="col-lg-12">

                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i>Yorumlar Takip
                    </li>
                </ol>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw">Yorumlar Yönetim Paneli</i></h3>
                    </div>
                    <br>
                    <div class="row pull-right">
                        <div class="col-md-12 ">
                            <button class="btn btn-primary" id="btnOnaylananlar"><span class="glyphicon glyphicon-hand-up"> </span> Onaylananları Listele</button>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                             <div class="col-md-12">
                                 <table id="tblYorum" class="table table-bordered ">
                                     <thead>
                                     <tr>
                                         <th class="col-md-2">Fotograf Adı</th>
                                         <th class="col-md-2">Ad Soyad</th>
                                         <th class="col-md-7">Yorum</th>
                                         <th class="col-md-3">Operasyon</th>
                                     </tr>
                                    </thead>
                                     <tbody>
                                      <%for(var i=0;i<fotoList.length;i++){%>
                                         <%if(fotoList[i].yorumlar!=undefined){%>
                                        <%for(var j=0;j<fotoList[i].yorumlar.length;j++){%>
                                             <tr id="<%=fotoList[i].yorumlar[j]._id%>" data="<%=fotoList[i].yorumlar[j].onay%>">
                                                 <td id="<%=fotoList[i]._id%>"><%=fotoList[i].ad%></td>
                                                 <td><%=fotoList[i].yorumlar[j].ad%> <%=fotoList[i].yorumlar[j].soyad%></td>
                                                 <td><%=fotoList[i].yorumlar[j].yorum%></td>
                                              <td>
                                                  <%if(fotoList[i].yorumlar[j].onay==false){%>
                                                 <button id="<%=fotoList[i].yorumlar[j]._id%>" class="btn btn-success onayla" data-toggle="tooltip" title="Onayla"><span class="glyphicon glyphicon-ok"></span></button>
                                                  <%}%>
                                                 <button id="<%=fotoList[i].yorumlar[j]._id%>" class="btn btn-danger sil" data-toggle="tooltip" title="Sil"><span class="glyphicon glyphicon-remove"></span></button>
                                             </td>
                                           </tr>
                                        <%}%>
                                       <%}%>
                                      <%}%>
                                 </tbody>
                                 </table> 
                                 <div id="yorumSayfalama" class="text-center">

                            </div>
                             </div>
                        </div>              
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
